* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary: rgba(255, 255, 255, 0.2);
    --white: #ffff;
    --yellow: #f1ba27;
    --orange: #d35400;
    --gray-secondary: #ebedef;
    --black:#222;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    background: transparent;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    position: sticky;
    top: 0;
    position: absolute;
}

nav:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav ul li {
    margin-left: 1rem;
    margin-right: 1rem;
    text-transform: capitalize;
    color: white;
    font-size: 0.8rem;
}

.active {
    color: var(--orange);
    font-weight: bold;
}

nav i {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--yellow);
}

.nav-search-div {
    width: max-content;
    border-radius: 28px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary);
}

.nav-search-div i {
    font-size: 16px;
    color: var(--white);
}

.nav-search-div input {
    width: 80%;
    height: 80%;
    outline: none;
    border: none;
    background: transparent;

}

.nav-search-div input::placeholder {
    color: var(--secondary);
}


.home-section {
    width: 100%;
    height: 70vh;
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 25%;
}


.home-section-contianer {
    width: 80%;
    color: white;
}

.home-section-contianer h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 20px;
}

.home-section-contianer h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.home-section-contianer p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.buttons-container {
    width: max-content;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
    position: absolute;
    bottom: 60px;
    left: 34%;
    transform: translateX(-50%);
}

.button {
    width: max-content;
    min-width: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 28px;
    margin-left: 20px;
    margin-right: 20px;
}

.button-gray-background {
    background: rgba(255, 255, 255, 0.2) !important;
}

.button-gray-background:hover {
    background: var(--white) !important;
    color: black;
}


.button-outlin-no-background {
    background: transparent !important;
    border: 0.1px solid var(--gray-secondary);
}

.button-outlin-no-background:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    border: 0.1px solid var(--white);
}


.vedio-div {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.section-divider {
    width: 100%;
    height: 20px;

}

.image-container {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-text-container {
    position: absolute;
    width: max-content;
    height: max-content;
    padding: 10px;
    top: 40%;
    left: 25%;
    color: var(--white);
}

.section-text-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 20px;
}

.section-text-container h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.section-text-container p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.card-section {
    width: 100%;
    height: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.row-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-container {
    position: relative;
    width: 40%;
    height: 40vh;
    overflow: hidden;
    margin: 5px;
}

.card-container img {
    transition: transform 0.5s ease-in
}

.card-container:hover img {
    transform: scale(1.1);
}


.card-text-container {
    position: absolute;
    width: 100%;
    top: 10%;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card-text-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-text-container h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.tag-section {
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tag-card {
    min-width: 300px;
    width: max-content;
    max-width: max-content;
    height: 70%;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px;
}

.tag-logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    align-items: flex-start;
}

.tag-card h1 {
    font-size: 16px;
    line-height: 16px;
    color: #000;
    margin-top: 8px;
    font-weight: bold;
}

.text-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tag-card p {
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    color: #666;
    margin-top: 8px;
}

.footer-section{
    width: 100%;
    min-height: 80vh;
    max-height: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    background-color: var(--black);
}


.footer-contend{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer-content-services{
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow: hidden;
}

.footer-menu{
    margin: 10px;
    min-width: 20%;
    max-width: max-content;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}
.footer-menu-title{
    font-size: 15px;
    color: var(--white);

}
.footer-menu ul{
    list-style: none;
    color: #6a6a6a !important;
    
}
.footer-menu ul li{
font-size: 13px;
margin-top: 10px;
margin-bottom: 10px;
}

.footer-content-contact{
    width: 30%;
    height: 100%;
}

.chat-support{
    padding: 10px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: var(--white);
    justify-content: space-evenly;
}
.chat-support h3{
    margin-left: 10px;
    font-size: 15px;
    
}

.contact-content{
    width: 100%;
    height: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666;
}
.social-media{
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social-card{
    background-color:#666;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-card i{
    color: white;
    opacity: 0.1;
    font-size: 25px;
}
.social-card i:hover{
    opacity: 1;
}

.footer-break-line{
    width: 100%;
    height: 0.1px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.1px solid rgba(255, 255, 255, .6);
}

.footer-copyrights{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction:row;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.footer-region{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-region p{
    margin-left: 15px;
    font-size: 13px;
    color: rgba(255,255,255,.8);
    
}

.off-white-color{
    color: #6a6a6a !important;
}

.footer-legal{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction:row-reverse;
    padding-right: 10px;
}

.footer-legal p{
    margin-left: 15px;
    font-size: 13px;
    color: rgba(255,255,255,.8);
}

.footer-legal span{
    margin-left: 15px;
    font-size: 13px;
    color: #6a6a6a !important;
}

